@inject ProductBranding Branding

<header class="site-header">
    <a class="brand" href="/" aria-label="@($"{Branding.SiteName} home")">
        <span class="brand-mark" aria-hidden="true">
            <img class="brand-mark__image brand-mark__image--light" src="images/brand/exceltoolstack-mark.svg" alt="" width="34" height="34" />
            <img class="brand-mark__image brand-mark__image--dark" src="images/brand/exceltoolstack-mark-dark.svg" alt="" width="34" height="34" />
        </span>
        <span>@Branding.SiteName</span>
    </a>
    <div class="nav-cluster">
        <nav class="site-nav" aria-label="Primary navigation">
            <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="/tools">Tools</NavLink>
            <NavLink href="/templates">Templates</NavLink>
            <NavLink href="/blog">Blog</NavLink>
            <NavLink href="/pricing">Pricing</NavLink>
        </nav>
        <ThemeToggle />
    </div>
</header>
