@inherits LayoutComponentBase
@using PdfToolStack.Web.Components

<a href="#main-content" class="skip-link">Skip to main content</a>

<NavMenu />

<main id="main-content" tabindex="-1">
    @Body
</main>

<Footer />
<ToastContainer />
<CookieBanner />