@inherits LayoutComponentBase
@inject SessionUsageService SessionUsage

<NavMenu />
<main>
    @Body
    <ToolEducationContent />
</main>
<Footer />
<CookieBanner />
<ToastContainer />
<ProUpsellModal @ref="_upsellModal" />
<SupportChat />

@code {
    private ProUpsellModal? _upsellModal;

    protected override async Task OnInitializedAsync()
    {
        await SessionUsage.InitializeAsync();
    }
}
