@inherits LayoutComponentBase
@inject SessionUsageService SessionUsage
@inject SubscriptionService SubscriptionService
@inject AuthenticationStateProvider AuthProvider

<NavMenu />
<main>
    @Body
</main>
<Footer />
<CookieBanner />
<ToastContainer />
<ProUpsellModal @ref="_upsellModal" />
<SupportChat />

@code {
    private ProUpsellModal? _upsellModal;
}