@page "/pdf-viewer-test"
@using Syncfusion.Blazor.SfPdfViewer

<div style="height:100vh;">
    <SfPdfViewer2 DocumentPath="https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf"
                  Height="100%"
                  Width="100%">
    </SfPdfViewer2>
</div>