@using PdfToolkit.Web.Components

<nav class="navbar">
    <a href="/" class="nav-brand">⚡ PDFToolstack</a>

    <div class="nav-links">
        <a href="/compress-pdf" class="nav-link">Compress PDF</a>
        <a href="/pdf-to-word" class="nav-link">PDF to Word</a>
        <a href="/word-to-pdf" class="nav-link">Word to PDF</a>
        <a href="/merge-pdf" class="nav-link">Merge PDF</a>
        <a href="/fill-pdf-form" class="nav-link">Fill Form</a>
        <a href="/redact-pdf" class="nav-link">Redact PDF</a>
        <a href="/delete-pdf-pages" class="nav-link">Delete Pages</a>
        <a href="/organize-pdf" class="nav-link">Organize PDF</a>
        <a href="/sign-pdf" class="nav-link">Sign PDF</a>
        <a href="/edit-pdf" class="nav-link">Edit PDF</a>
        <a href="/pdf-annotator" class="nav-link">Annotator</a>
        <a href="/pdf-reader" class="nav-link">PDF Reader</a>
        <a href="/translate-pdf" class="nav-link">Translate PDF</a>
    </div>

    <ThemeSwitcher />
</nav>